<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
  <title>New Author</title>
</head>
<body>
  <h1>New Message</h1>
  <form action="/new" method="post">
    <label for="messageUser">Author</label>
    <input type="text" id="messageUser" name="messageUser">
    <br>
    <br>
    <label for="messageText">Message</label>
    <input type="text" id="messageText" name="messageText">
    <br>
    <button>Submit</button>
  </form>
</body>
</html>